@{
    ViewData["Title"] = "Home Page";
}

<div class="scrolling-box">
    <marquee class="scrolling-text" behavior="scroll" direction="left">SELAMAT DATANG DI @ViewBag.NamaInstansi</marquee>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
