@{
    ViewData["Title"] = "Home Page";

}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f6f5b7">
    <marquee class="welcome" behavior="scroll" direction="left">SELAMAT DATANG DI @ViewBag.NamaInstansi</marquee>
</nav>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
